* {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 100px;
    text-align: center;
    font-family: Helvetica;
    font-weight: 190%;
    font-size: 180%;
    color: black;
  }
  
  p {
    position: relative;
    clear: right;
  }
  
  section {
    width: 100%;
    position: relative;
    padding: 15px;
  }
  
  div {
    position: relative;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;
    border: 1px solid black;
  }
  
  .first_subtitle {
    font-weight: bold;
    background-color:  pink;
    display: block;
    border: 2px solid black;
    width: 110px;
    text-align: center;
    font-size: 113%;
  }
  
  .second_subtitle {
    font-weight: bold;
    background-color: maroon;
    display: block;
    border: 2px solid black;
    width: 110px;
    text-align: center;
    color: white;
    font-size: 113%;
  }
  
  .third_subtitle {
    font-weight: bold;
    background-color: rgb(223, 212, 121);
    display: block;
    border: 2px solid black;
    width: 110px;
    text-align: center;
    font-size: 113%;
  }
  
  .sub {
    padding: 10px;
    float: right;
    margin: 0px;
  }
  
  .content {
    display: block;
    padding: 5px;
    clear: right;
    margin: 0px;
    overflow: auto;
    height: 240px;
    font-size: 20px;
  }
  
  .row {
    width: 90%;
  }
  
  @media (min-width: 992px) {
    .column-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
      float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .colmn-md-12 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .colmn-sm-12 {
      float: left;
      width: 100%;
    }
  }